html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media (max-width: 768px) {
    .container {
        padding: 1rem;
    }
}

.animate-element {
    will-change: transform, opacity;
    backface-visibility: hidden;
    perspective: 1000px;
}

.merlin-ai-card-gradient-border {
    border: 1px solid transparent;
    border-radius: 12px;
    border-image-source: linear-gradient(266.38deg, rgba(255, 255, 255, 0.288) 13.33%, rgba(255, 255, 255, 0.16) 29.83%);
    border-image-slice: 1;
}

.merlin-ai-container-mask {
    mask-image: linear-gradient(to bottom, 
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 60%,
        rgba(255, 255, 255, 0.5) 85%, 
        rgba(255, 255, 255, 0) 100%
    );
    mask-size: 100% 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    
    -webkit-mask-image: linear-gradient(to bottom, 
        rgba(255, 255, 255, 1) 0%,
        rgba(255, 255, 255, 1) 60%,
        rgba(255, 255, 255, 0.5) 85%,
        rgba(255, 255, 255, 0) 100%
    );
    -webkit-mask-size: 100% 100%;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
}